
/* .course-page-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.course-details-row {
   height: 30%; 
   /* Set row height to 100% of viewport height */
    /* overflow-y: auto; Enable horizontal scrolling */
  /* }
  .course-content-row{
    height: 60%;
  }
  */

  
  
  